@import "./variables.scss";

.icon_text {
  @include flex_box();
  .icon {
    position: relative;
  }
  .title {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 3px;
  }
  .sub_title {
    font-weight: 600;
    font-size: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .icon_text {
    margin-bottom: 15px;
  }
}
