@import "./variables.scss";

.icon_text {
  @include flex_box();
  .icon {
    position: relative;
  }
  .title {
    font-size: $f-size-h8;
    font-weight: 800;
    margin: 0 0 3px;
  }
  .sub_title {
    font-weight: 600;
    font-size: $f-size-p6;
    margin: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .icon_text {
    margin-bottom: 15px;
    .title {
      font-size: 18px;
    }
    .sub_title {
      font-size: 12px;
    }
  }
}
