@import "./variables.scss";

.map_text_box {
  @include border_radius();
  @include border();
  @include box_shadow();
  word-break: break-word;
  .text {
    padding: 20px 10px;
    h4 {
      margin: 0 0 10px;
      font-size: $f-size-h9;
    }
    p {
      margin: 0px;
      font-size: 14px;
    }
    .top {
      padding: 0 10px;
    }
    .bottom {
      @include flex_box(center);
    }
  }
}
@media only screen and (max-width: 767px) {
  .map_text_box {
    flex: 0 0 100%;
    .text {
      h4 {
        font-size: 18px;
      }
    }
  }
}
